<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Loby</h1>
    <input type="text" id="room-name">
    <button id="submit">Go</button>

    <script>
        document.querySelector('#room-name').focus();

        document.querySelector('#room-name').onkeyup = function (e) {
            if (e.keyCode === 13) {
            document.querySelector('#submit').click();
            }
        };

        document.querySelector('#submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name').value;
            window.location.pathname = roomName + '/';
         };
    </script>
</body>
</html>